/* font-family: "Montserrat", sans-serif; */
/* font-family: "Audiowide", sans-serif; */

*{
    margin: 0;
    padding:0;
}
header{

padding: 30px 0;
}
.header_wrapper{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{

}
.menu{

width: 50%;
}
.menu ul{

display: flex;

justify-content: end;

list-style: none;
}
.menu ul li{

}
.menu ul li a{

text-decoration: none;

color: #b6b8b9;

text-transform: uppercase;

margin-left: 30px;
}

.banner{position: relative;}
.banner img{

width: 100%;
}
.banner_content{

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

text-align: center;
}
.banner_content h2{

color: white;

font-size: 40px;

font-family: "Audiowide", sans-serif;
}
.banner_content p{

color: #fff;

font-size: 21px;

padding-top: 30px;

padding-bottom: 50px;

text-transform: capitalize;

font-family: "Montserrat", sans-serif;
}
.banner_content a{
    
color: #fff;
    
background-color: #fb6e52;
    
text-decoration: none;
    
padding: 14px 30px;
    
border: 1px solid white;
    
border-radius: 5px;
    
text-transform: capitalize;
    
font-family: "Montserrat", sans-serif;
}

.service_part{

width: 80%;

margin: auto;
}
.service_item_all{display: flex;justify-content: space-around;padding: 110px 0px;}
.service_item{

text-align: center;
}
.service_item img{
    
width: 40%;
    
margin-bottom: 20px;
}
.service_item h2{
    
margin-bottom: 20px;
    
font-family: "Audiowide", sans-serif;
    
font-weight: 400;
    
color: #42444a;
}
.service_item p{
    
font-family: "Montserrat", sans-serif;
    
color: #BEBFC5;
    
font-size: 20px;
}

.service_heading
{

width: 54%;

margin: auto;
}
.service_heading p
{text-align: center;padding-bottom: 100px;text-transform: inherit;font-size: 25px;color: #fb6e52;line-height: 35px;word-spacing: 4px;font-family: "Audiowide", sans-serif;font-style: italic;}

.service_main_part{

display: flex;

justify-content: space-between;

padding: 50px 0;
}
.main_item{

width: 30%;

text-align: center;
}
.main_item img{

width: 100%;

height: 70%;
}
.main_item h2{

font-family: "Audiowide", sans-serif;

font-weight: 400;

color: #fb6e52;

padding: 13px 0;
}
.main_item p{
    
font-size: 27px;
    
color: #42444a;
}


.blog_part{

background-color: #f9f9f9;

\: auto;
}
.blog_content{
    
padding: 70px 0;
}
.blog_content h2{

text-align: center;

font-size: 34px;

font-family: "Audiowide", sans-serif;

color: #3d414c;
}
.blog_all_item{width: 80%;margin: auto;display: flex;justify-content: space-between;padding-bottom: 100px;}
.blog_item{

width: 45%;
}
.blog_item img{

width: 100%;
}

.blog_item h2{

color: #fb6e52;

padding: 30px 0;
}
.blog_item p{

color: #3d414c;

font-size: 27px;
}



footer{

padding: 50px 0;

background-color: #292c34;
}
.container{

width: 80%;

margin: auto;

display: flex;

align-items: center;
}
.logo{

width: 50%;
}
.logo img{

}
.icon{

width: 50%;

text-align: end;
}
.icon a{

color: white;

padding-left: 14%;
}
.icon a i{

}
